In [1]:
import os

project_path = r"C:\Users\suraj\Saarthi"
print("‚úÖ Project folder exists:", os.path.exists(project_path))
print("Subfolders:", os.listdir(project_path))

‚úÖ Project folder exists: True
Subfolders: ['.ipynb_checkpoints', 'Untitled.ipynb']

In [3]:
pip install hf_xet

Requirement already satisfied: hf_xet in c:\users\suraj\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:

import pandas as pd

naukri_path = r"C:\Users\suraj\Desktop\saarthiii\data\india_jobs_naukri.csv"
indeed_path = r"C:\Users\suraj\Desktop\saarthiii\data\india_jobs_indeed.csv"

df_naukri = pd.read_csv(naukri_path)
df_indeed = pd.read_csv(indeed_path)

print("‚úÖ Naukri:", df_naukri.shape)
print("‚úÖ Indeed:", df_indeed.shape)

‚úÖ Naukri: (22000, 14)
‚úÖ Indeed: (29998, 46)

In [7]:
print(df_indeed.columns.tolist())
df_indeed.head()

['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'category', 'company_name', 'city', 'state', 'country', 'post_date', 'job_description', 'job_type', 'company_description', 'job_board', 'geo', 'job_post_lang', 'html_job_description', 'inferred_iso2_lang_code', 'is_remote', 'test1_cities', 'test1_states', 'test1_countries', 'site_name', 'domain', 'postdate_yyyymmdd', 'predicted_language', 'inferred_iso3_lang_code', 'test1_inferred_city', 'test1_inferred_state', 'test1_inferred_country', 'inferred_state', 'inferred_country', 'has_expired', 'last_expiry_check_date', 'latest_expiry_check_date', 'dataset', 'postdate_in_indexname_format', 'segment_name', 'duplicate_status', 'job_desc_char_count', 'fitness_score', 'inferred_city', 'apply_url', 'logo_url', 'test_contact_email', 'contact_email']

,uniq_id,crawl_timestamp,url,job_title,category,company_name,city,state,country,post_date,...,postdate_in_indexname_format,segment_name,duplicate_status,job_desc_char_count,fitness_score,inferred_city,apply_url,logo_url,test_contact_email,contact_email
0,0b781a19b0e6fa4f60ed0f7b33189ab9,2021-08-28 01:55:03 +0000,https://www.indeed.co.in/viewjob?jk=ea9d336e31...,Full Stack Developer,Engineering,skilora,Remote,Karnataka,IN,2021-08-28,...,2021.08.22,indeed_india_co_in_job_board_common_setup_pc_j...,NaN,1083,10,NaN,NaN,NaN,NaN,NaN
1,4268198e459c0bef8a969e99aea58300,2021-08-06 22:56:55 +0000,https://www.indeed.co.in/viewjob?jk=943788f468...,Windows Helpdesk Advisor,Computer,IBM,Bengaluru,Karnataka,IN,2021-08-06,...,2021.08.01,indeed_india_co_in_job_board_common_setup_pc_j...,NaN,6026,10,Bangalore,NaN,NaN,NaN,NaN
2,921b95a255ce7c1a1088302e6309c38b,2021-07-30 07:47:27 +0000,https://www.indeed.co.in/viewjob?jk=9f5ba5ad4b...,CB-WLS- Credit Support Specialist Iv- Operatio...,Healthcare,"JPMorgan Chase Bank, N.A.",Bengaluru,Karnataka,IN,2021-07-30,...,2021.07.22,indeed_india_co_in_job_board_common_setup_pc_j...,NaN,3424,10,Bangalore,NaN,NaN,NaN,NaN
3,baa53877ee4fc92450b8aec70d9d3d93,2021-09-14 23:32:56 +0000,https://www.indeed.co.in/viewjob?jk=75b6aa5a42...,Sales Executive-South Delhi,Part time,Rama Panels Pvt Ltd,Delhi,Delhi,IN,2021-09-14,...,2021.09.11,indeed_india_co_in_job_board_common_setup_pc_j...,NaN,603,10,Delhi,NaN,NaN,NaN,NaN
4,eae66e921044d585c28d340bc227fc98,2021-07-09 21:15:18 +0000,https://www.indeed.co.in/viewjob?jk=d40b32d909...,Senior Software Engineer,IT,Larsen & Toubro Infotech Limited,Hinjewadi,Maharashtra,IN,2021-07-09,...,2021.07.01,indeed_india_co_in_job_board_common_setup_pc_j...,NaN,1028,10,NaN,https://in.indeed.com/rc/clk?jk=d40b32d909587247,NaN,NaN,NaN

In [9]:
print("üìã Naukri columns:\n", df_naukri.columns.tolist())
print("\nüìã Indeed columns:\n", df_indeed.columns.tolist())

üìã Naukri columns:
 ['company', 'education', 'experience', 'industry', 'jobdescription', 'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions', 'payrate', 'postdate', 'site_name', 'skills', 'uniq_id']

üìã Indeed columns:
 ['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'category', 'company_name', 'city', 'state', 'country', 'post_date', 'job_description', 'job_type', 'company_description', 'job_board', 'geo', 'job_post_lang', 'html_job_description', 'inferred_iso2_lang_code', 'is_remote', 'test1_cities', 'test1_states', 'test1_countries', 'site_name', 'domain', 'postdate_yyyymmdd', 'predicted_language', 'inferred_iso3_lang_code', 'test1_inferred_city', 'test1_inferred_state', 'test1_inferred_country', 'inferred_state', 'inferred_country', 'has_expired', 'last_expiry_check_date', 'latest_expiry_check_date', 'dataset', 'postdate_in_indexname_format', 'segment_name', 'duplicate_status', 'job_desc_char_count', 'fitness_score', 'inferred_city', 'apply_url', 'logo_url', 'test_contact_email', 'contact_email']

In [11]:
# --- Clean Naukri dataset ---
df_naukri_clean = df_naukri[['jobtitle', 'company', 'joblocation_address', 'skills', 'industry', 'experience', 'payrate']].copy()
df_naukri_clean.rename(columns={
    'jobtitle': 'job_title',
    'company': 'company_name',
    'joblocation_address': 'location',
    'skills': 'description',
    'industry': 'category',
    'experience': 'experience',
    'payrate': 'salary'
}, inplace=True)

print("‚úÖ Naukri cleaned shape:", df_naukri_clean.shape)


# --- Clean Indeed dataset ---
df_indeed_clean = df_indeed[['job_title', 'company_name', 'city', 'job_description', 'category']].copy()
df_indeed_clean.rename(columns={
    'city': 'location',
    'job_description': 'description'
}, inplace=True)

print("‚úÖ Indeed cleaned shape:", df_indeed_clean.shape)


# --- Merge both ---
combined_df = pd.concat([df_naukri_clean, df_indeed_clean], ignore_index=True)

# Drop duplicates and rows without description/title
combined_df.drop_duplicates(subset=['job_title', 'company_name', 'description'], inplace=True)
combined_df.dropna(subset=['job_title', 'description'], inplace=True)

print("‚úÖ Combined dataset shape:", combined_df.shape)
combined_df.head()

‚úÖ Naukri cleaned shape: (22000, 7)
‚úÖ Indeed cleaned shape: (29998, 5)
‚úÖ Combined dataset shape: (49011, 7)

,job_title,company_name,location,description,category,experience,salary
0,Walkin Data Entry Operator (night Shift),MM Media Pvt Ltd,Chennai,ITES,Media / Entertainment / Internet,0 - 1 yrs,"1,50,000 - 2,25,000 P.A"
1,Work Based Onhome Based Part Time.,find live infotech,Chennai,Marketing,Advertising / PR / MR / Event Management,0 - 0 yrs,"1,50,000 - 2,50,000 P.A. 20000"
2,Pl/sql Developer - SQL,Softtech Career Infosystem Pvt. Ltd,Bengaluru,IT Software - Application Programming,IT-Software / Software Services,4 - 8 yrs,Not Disclosed by Recruiter
3,Manager/ad/partner - Indirect Tax - CA,Onboard HRServices LLP,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Accounts,Banking / Financial Services / Broking,11 - 15 yrs,Not Disclosed by Recruiter
4,JAVA Technical Lead (6-8 yrs) -,Spire Technologies and Solutions Pvt. Ltd.,Bengaluru,IT Software - Application Programming,IT-Software / Software Services,6 - 8 yrs,Not Disclosed by Recruiter

In [13]:
combined_df.shape

(49011, 7)

In [15]:
import pandas as pd

# Path to your disability mapping file
disability_path = r"C:\Users\suraj\Desktop\saarthiii\data\disability_mapping.csv"

# Load the file
df_disability = pd.read_csv(disability_path)

# Display info
print("‚úÖ Disability mapping loaded successfully!")
print("Rows:", df_disability.shape[0])
print("\nColumns:", df_disability.columns.tolist())
df_disability.head()

‚úÖ Disability mapping loaded successfully!
Rows: 5

Columns: ['disability_type', 'keywords', 'notes']

,disability_type,keywords,notes
0,visual_impairment,data analyst|data entry|software tester|conten...,Prefer screen-reader friendly roles or remote ...
1,hearing_impairment,developer|designer|accountant|data analyst|pro...,Prefer text-based communication; captions/note...
2,mobility_impairment,software engineer|writer|editor|virtual assist...,Work-from-home preferred; accessible office se...
3,speech_impairment,content writer|researcher|analyst|developer|te...,Low verbal interaction roles preferred
4,cognitive_disability,labeling|data processing|sorting|back office|d...,Structured and repetitive jobs preferred

In [17]:
print("Jobs dataset shape:", combined_df.shape)
print("Disability mapping shape:", df_disability.shape)

Jobs dataset shape: (49011, 7)
Disability mapping shape: (5, 3)

In [19]:
print(df_disability.columns.tolist())

['disability_type', 'keywords', 'notes']

In [21]:
# Add a new column to store suitable disability types
combined_df['suitable_for_disability'] = ''

# Loop through each disability type and its keywords
for _, row in df_disability.iterrows():
    disability = row['disability_type']
    keywords = [kw.strip().lower() for kw in row['keywords'].split('|')]
    
    # For each keyword, check if it appears in job title or description
    mask = combined_df['job_title'].str.lower().str.contains('|'.join(keywords), na=False) | \
           combined_df['description'].str.lower().str.contains('|'.join(keywords), na=False)
    
    # Assign disability tag where match found
    combined_df.loc[mask, 'suitable_for_disability'] += disability + '|'

# Clean up column (remove trailing "|")
combined_df['suitable_for_disability'] = combined_df['suitable_for_disability'].str.strip('|')

print("‚úÖ Disability suitability mapping complete!")
combined_df[['job_title', 'suitable_for_disability']].head(15)

‚úÖ Disability suitability mapping complete!

,job_title,suitable_for_disability
0,Walkin Data Entry Operator (night Shift),visual_impairment|cognitive_disability
1,Work Based Onhome Based Part Time.,
2,Pl/sql Developer - SQL,hearing_impairment|speech_impairment
3,Manager/ad/partner - Indirect Tax - CA,
4,JAVA Technical Lead (6-8 yrs) -,
5,WALK IN - As400 Developer - Pfsweb Global Serv...,hearing_impairment|speech_impairment
6,PHP Developer,hearing_impairment|speech_impairment
7,Member Technical Staff-wire Harness/cable Harn...,
8,Team Leader,
9,German Translator,
10,Business Development Manager,
11,Opening for Android Developer-bangalore-4-8 yrs,hearing_impairment|speech_impairment
12,Full Stack Web Application (php) Developer,hearing_impairment|speech_impairment
13,Looking for an Application Engineer-fpga,
14,Revenue Assurance,

In [23]:
import pandas as pd

# Just in case your variable name differs
df = combined_df.copy()

# Fill missing values
df['job_title'] = df['job_title'].fillna('')
df['description'] = df['description'].fillna('')

# Combine into one text field
df['text'] = df['job_title'] + ' ' + df['description']

print("‚úÖ Combined text column created!")
df[['job_title', 'text']].head(10)

‚úÖ Combined text column created!

,job_title,text
0,Walkin Data Entry Operator (night Shift),Walkin Data Entry Operator (night Shift) ITES
1,Work Based Onhome Based Part Time.,Work Based Onhome Based Part Time. Marketing
2,Pl/sql Developer - SQL,Pl/sql Developer - SQL IT Software - Applicati...
3,Manager/ad/partner - Indirect Tax - CA,Manager/ad/partner - Indirect Tax - CA Accounts
4,JAVA Technical Lead (6-8 yrs) -,JAVA Technical Lead (6-8 yrs) - IT Software - ...
5,WALK IN - As400 Developer - Pfsweb Global Serv...,WALK IN - As400 Developer - Pfsweb Global Serv...
6,PHP Developer,PHP Developer IT Software - Application Progra...
7,Member Technical Staff-wire Harness/cable Harn...,Member Technical Staff-wire Harness/cable Harn...
8,Team Leader,Team Leader Production
9,German Translator,German Translator ITES

In [25]:
df.columns

Index(['job_title', 'company_name', 'location', 'description', 'category',
       'experience', 'salary', 'suitable_for_disability', 'text'],
      dtype='object')

In [27]:
# Keep only relevant columns for text modeling
keep_cols = ['job_title', 'company_name', 'location', 'description', 'category', 'suitable_for_disability']
df = df[keep_cols].copy()

In [29]:
# Recreate the description length column using correct name
df['desc_length'] = df['description'].fillna('').apply(len)
print(df['desc_length'].describe())

count    49011.000000
mean      1384.648038
std       1834.499621
min          2.000000
25%         19.000000
50%        618.000000
75%       2164.000000
max      32850.000000
Name: desc_length, dtype: float64

In [31]:
# Keep only rows where description length is meaningful
df = df[df['desc_length'] > 50].copy()

# Combine text columns
df['text'] = (
    df['job_title'].fillna('') + " " +
    df['description'].fillna('') + " " +
    df['category'].fillna('')
)

# Clean text
import re

def clean_text(text):
    text = re.sub(r'[^a-zA-Z0-9\s]', ' ', str(text))  # remove punctuation
    text = text.lower()                                # lowercase
    text = re.sub(r'\s+', ' ', text).strip()           # remove extra spaces
    return text

df['text'] = df['text'].apply(clean_text)

print("‚úÖ Filtered dataset shape:", df.shape)
print("Example text:\n", df['text'].iloc[0])

‚úÖ Filtered dataset shape: (28512, 8)
Example text:
 full stack developer we are currently looking for a full stack developer to join our team skills mvc framework ruby ruby on rails software development sql javascript frameworks responsibilities and duties experience as an engineer with a passion for building user friendly applications advance understanding of ruby on rails and it s ecosystem or any other mvc frameworks experience with software design and development in a test driven environment strong understanding of relational schema design and command over sql bonus points if you have experience working with client side javascript frameworks experience with elasticsearch lucene solr required experience and qualifications experience 1 5 years in it software application programming maintenance required graduation any degree preferred proficient in english preferred skilora is a talent acquisition platform helping companies to build the best team please be aware of fraud job offers asking for any kind of payments skilora would not be held responsible for any such kind of malpractices or jobs posted on the platform engineering

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer



tfidf = TfidfVectorizer(stop_words='english', ngram_range=(1,2), max_features=10000)
tfidf_matrix = tfidf.fit_transform(df['text'])

print("‚úÖ TF-IDF matrix created successfully!")
print("Matrix shape:", tfidf_matrix.shape)

‚úÖ TF-IDF matrix created successfully!
Matrix shape: (28512, 10000)

In [35]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def recommend_jobs(user_input, top_n=5):
    """
    Recommend jobs based on user skills using TF-IDF + Cosine Similarity
    """
    # Transform user input into TF-IDF vector
    user_vec = tfidf.transform([user_input])

    # Compute cosine similarity between user input and job postings
    similarity = cosine_similarity(user_vec, tfidf_matrix).flatten()

    # Get indices of top N similar jobs
    top_indices = similarity.argsort()[-top_n:][::-1]

    # Select the matching jobs
    results = df.iloc[top_indices][['job_title', 'company_name', 'location', 'description', 'suitable_for_disability']]
    results['similarity_score'] = similarity[top_indices]

    return results.reset_index(drop=True)

print("‚úÖ Job recommendation function created successfully!")

‚úÖ Job recommendation function created successfully!

In [37]:
user_input = "Python, SQL, Data Analysis"
recommendations = recommend_jobs(user_input, top_n=5)

print("üîç Top job recommendations for:", user_input)
recommendations

üîç Top job recommendations for: Python, SQL, Data Analysis

,job_title,company_name,location,description,suitable_for_disability,similarity_score
0,Business Analyst Lead,Lam Research,Bengaluru,"Job Responsibilities: Plans, performs, and imp...",visual_impairment|speech_impairment,0.336965
1,Business Analytics Cons 2,WELLS FARGO BANK,Karnataka,About Wells Fargo Wells Fargo & Company (NYSE:...,visual_impairment|hearing_impairment|cognitive...,0.328561
2,CIEL/SEL/12831: python Developer,CIEL HR Services,Indore,Essential Job Functions Work with the business...,hearing_impairment|speech_impairment,0.304764
3,Data Quality Analyst I,"JPMorgan Chase Bank, N.A.",Bengaluru,Position Summary: We are seeking a highly capa...,visual_impairment|hearing_impairment|speech_im...,0.303360
4,Data Engineer,Connexions Data Inc,Mumbai,Offshore Python Developer /Data Engineer Posit...,hearing_impairment|mobility_impairment|speech_...,0.298968

In [39]:
def recommend_jobs_inclusive(user_input, disability_type=None, top_n=5):
    user_vec = tfidf.transform([user_input])
    similarity = cosine_similarity(user_vec, tfidf_matrix).flatten()
    df['similarity_score'] = similarity
    sorted_df = df.sort_values(by='similarity_score', ascending=False)

    # --- Rule-based logic: disability-friendly job categories ---
    suitable_categories = {
        "hearing_impairment": ["IT", "Data", "Software", "Finance", "Analysis", "Admin", "Research"],
        "visual_impairment": ["HR", "Teaching", "Support", "Training", "Writing", "Recruitment"],
        "mobility_impairment": ["Remote", "Data Entry", "IT", "Finance", "Consulting", "Analysis"],
        "speech_impairment": ["IT", "Data", "Design", "Finance", "Research", "Admin"],
        "cognitive_disability": ["Manual", "Packaging", "Assembly", "Helper", "Support"]
    }

    # Apply text-based disability filtering + rule-based inclusivity
    if disability_type:
        # Start by selecting jobs that are explicitly marked suitable
        filtered_df = sorted_df[
            sorted_df['suitable_for_disability'].str.contains(disability_type, case=False, na=False)
            | sorted_df['suitable_for_disability'].eq('')
        ]

        # Add rule-based jobs for this disability (by category or job title)
        if disability_type in suitable_categories:
            rules = suitable_categories[disability_type]
            rule_based_jobs = sorted_df[
                sorted_df['job_title'].str.contains('|'.join(rules), case=False, na=False)
                | sorted_df['category'].str.contains('|'.join(rules), case=False, na=False)
            ]
            # Combine both sets (explicitly suitable + logically suitable)
            filtered_df = pd.concat([filtered_df, rule_based_jobs]).drop_duplicates()
    else:
        filtered_df = sorted_df

    # --- Return top N recommendations ---
    recommendations = filtered_df.head(top_n)[
        ['job_title', 'company_name', 'location', 'category', 'suitable_for_disability', 'similarity_score']
    ].reset_index(drop=True)

    return recommendations

In [41]:
user_input = "Python, SQL, Data Analysis"
user_disability = "visual_impairment"  # can change to 'hearing_impairment', etc.

recommendations = recommend_jobs_inclusive(user_input, disability_type=user_disability, top_n=5)

print(f"üîç Top job recommendations for: '{user_input}' (Disability: {user_disability})")
recommendations

üîç Top job recommendations for: 'Python, SQL, Data Analysis' (Disability: visual_impairment)

,job_title,company_name,location,category,suitable_for_disability,similarity_score
0,Business Analyst Lead,Lam Research,Bengaluru,Energy,visual_impairment|speech_impairment,0.336965
1,Business Analytics Cons 2,WELLS FARGO BANK,Karnataka,Consultant,visual_impairment|hearing_impairment|cognitive...,0.328561
2,Data Quality Analyst I,"JPMorgan Chase Bank, N.A.",Bengaluru,IT,visual_impairment|hearing_impairment|speech_im...,0.303360
3,SQL Developer,CEGURA TECHNOLOGY SOLUTION PVT LTD,Kolkata,Engineering,visual_impairment|hearing_impairment|mobility_...,0.298116
4,Jr Datalake Developer,Unisys,Bengaluru,Admin,visual_impairment|hearing_impairment|mobility_...,0.290460

In [43]:
# # ----- Supervised ML: Job Category Prediction -----

# # Check if category/industry column exists
# print(df['category'].value_counts().head(10))

# # Keep only rows where category exists
# df_supervised = df.dropna(subset=['category', 'text'])

# # Split features and labels
# X = df_supervised['text']
# y = df_supervised['category']

# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score, classification_report

# # Train-test split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # TF-IDF vectorization
# tfidf_supervised = TfidfVectorizer(stop_words='english', max_features=5000)
# X_train_tfidf = tfidf_supervised.fit_transform(X_train)
# X_test_tfidf = tfidf_supervised.transform(X_test)

# # Train logistic regression model
# model = LogisticRegression(max_iter=200)
# model.fit(X_train_tfidf, y_train)

# # Predict and evaluate
# y_pred = model.predict(X_test_tfidf)
# print("‚úÖ Supervised model trained successfully!")
# print("Accuracy:", accuracy_score(y_test, y_pred))
# print("\nClassification Report:\n", classification_report(y_test, y_pred))

category
IT               4260
Management       2749
Engineering      1592
Sales            1374
Admin            1160
Manufacturing    1139
Part time         976
Marketing         950
Consultant        810
Finance           797
Name: count, dtype: int64
‚úÖ Supervised model trained successfully!
Accuracy: 0.4439768542872172

Classification Report:
                    precision    recall  f1-score   support

       Accounting       0.47      0.52      0.49        89
            Admin       0.77      0.65      0.71       216
      Advertising       0.20      0.05      0.08        57
      Agriculture       0.00      0.00      0.00         6
     Architecture       0.00      0.00      0.00        11
             Arts       0.73      0.81      0.77        78
       Automation       0.36      0.25      0.30       103
             Bank       0.29      0.22      0.25        73
              Bpo       0.50      0.25      0.33         8
         Computer       0.40      0.18      0.25       107
     Construction       0.80      0.36      0.50        89
       Consultant       0.35      0.40      0.37       154
 Customer Service       0.44      0.30      0.36        64
        Education       0.71      0.61      0.65       150
       Electrical       0.38      0.32      0.34        19
      Electronics       0.11      0.04      0.06        23
           Energy       0.00      0.00      0.00         9
      Engineering       0.39      0.48      0.43       324
       Facilities       0.88      0.45      0.59        47
          Finance       0.43      0.33      0.37       190
     Food Service       0.00      0.00      0.00         2
          Fresher       0.67      0.14      0.24        14
       Government       0.50      0.15      0.23        41
       Healthcare       0.62      0.31      0.42       159
      Hospitality       0.59      0.35      0.44        55
  Human Resources       0.67      0.57      0.62       148
  Human+Resources       0.00      0.00      0.00         6
               IT       0.41      0.68      0.52       889
        Insurance       0.42      0.15      0.22        72
         Internet       0.57      0.41      0.48        29
  Law Enforcement       0.00      0.00      0.00         3
            Legal       0.00      0.00      0.00        14
            Loans       0.00      0.00      0.00         7
        Logistics       0.58      0.40      0.47       148
       Management       0.26      0.47      0.34       543
    Manufacturing       0.49      0.33      0.40       212
        Marketing       0.47      0.52      0.50       185
       Mechanical       0.76      0.45      0.56        56
          Medical       0.40      0.12      0.19        16
       Networking       0.44      0.18      0.25        45
               PR       0.60      0.37      0.46        76
        Part time       0.51      0.49      0.50       198
   Pharmaceutical       0.65      0.48      0.55        23
       Publishing       0.70      0.68      0.69        63
      Real Estate       0.00      0.00      0.00         8
      Recruitment       0.45      0.30      0.36        64
       Restaurant       0.75      0.35      0.48        17
           Retail       0.56      0.46      0.51        41
            Sales       0.40      0.46      0.43       263
       Scientific       0.53      0.36      0.43        50
         Security       0.16      0.06      0.09        77
         Services       1.00      0.07      0.13        56
     Social Media       0.46      0.45      0.46        74
     Social+Media       0.00      0.00      0.00         2
          Teacher       0.76      0.70      0.73        23
Telecommunication       1.00      0.18      0.30        39
         Training       0.55      0.21      0.31        80
   Transportation       0.78      0.47      0.58        30
           Travel       0.50      0.08      0.14        36
     Volunteering       0.00      0.00      0.00        22

         accuracy                           0.44      5703
        macro avg       0.44      0.29      0.33      5703
     weighted avg       0.48      0.44      0.43      5703

C:\Users\suraj\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\suraj\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\suraj\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [44]:
import pickle
pickle.dump(tfidf, open(r"C:/Users/suraj/Desktop/saarthiii/models/tfidf_vectorizer.pkl", "wb"))
df.to_csv(r"C:/Users/suraj/Desktop/saarthiii/data/combined_dataset.csv", index=False)

In [47]:
# See how long job descriptions really are
df['desc_length'] = df['description'].fillna('').apply(len)
print(df['desc_length'].describe())

# See how many rows have empty descriptions
empty_desc = (df['desc_length'] < 50).sum()
print(f"‚ö†Ô∏è {empty_desc} rows have job descriptions under 50 characters.")

count    28512.000000
mean      2367.018203
std       1864.806438
min         51.000000
25%        918.000000
50%       1813.000000
75%       3367.000000
max      32850.000000
Name: desc_length, dtype: float64
‚ö†Ô∏è 0 rows have job descriptions under 50 characters.

In [ ]:
# # ===============================
# # üß† Create Embeddings in Small Batches
# # ===============================
# from sentence_transformers import SentenceTransformer
# import numpy as np
# import pandas as pd
# import torch

# # Load dataset
# df = pd.read_csv(r"C:/Users/suraj/Desktop/saarthiii/data/combined_dataset.csv")

# # Load MiniLM model
# model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

# print("‚úÖ Model loaded successfully!")

# # Encode in batches
# batch_size = 1000
# embeddings_list = []

# for i in range(0, len(df), batch_size):
#     batch_texts = df['text'].iloc[i:i+batch_size].tolist()
#     batch_embeddings = model.encode(batch_texts, convert_to_tensor=True)
#     embeddings_list.append(batch_embeddings.cpu())
#     print(f"‚úÖ Encoded batch {i//batch_size + 1} / {len(df)//batch_size + 1}")

# # Combine all batches into one tensor
# job_embeddings = torch.cat(embeddings_list, dim=0)
# print("‚úÖ All embeddings created successfully!")

# # Save embeddings as .npy
# np.save(r"C:/Users/suraj/Desktop/saarthiii/models/job_embeddings.npy", job_embeddings.numpy())
# print("‚úÖ Job embeddings saved successfully at /models/job_embeddings.npy")

In [ ]:
# # ===============================
# # üîç STEP 2: Recommend Jobs using SentenceTransformer Embeddings
# # ===============================
# import numpy as np
# import pandas as pd
# from sentence_transformers import SentenceTransformer
# from sklearn.metrics.pairwise import cosine_similarity

# # Load dataset and embeddings
# df = pd.read_csv(r"C:/Users/suraj/Desktop/saarthiii/data/combined_dataset.csv")
# job_embeddings = np.load(r"C:/Users/suraj/Desktop/saarthiii/models/job_embeddings.npy")

# # üß© Fix embedding shape
# print("Before fixing shape:", job_embeddings.shape)
# job_embeddings = job_embeddings.reshape(job_embeddings.shape[0], -1)
# print("After fixing shape:", job_embeddings.shape)

# # Load SentenceTransformer model
# model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
# print("‚úÖ Model & embeddings loaded successfully!")

# def recommend_jobs(user_input, disability_type=None, top_n=5):
#     # Encode the user's input sentence
#     user_embedding = model.encode(user_input, convert_to_tensor=False)

#     # üß© Fix shape (make sure it's 2D for cosine similarity)
#     user_embedding = np.array(user_embedding).reshape(1, -1)

#     # Compute similarity
#     similarity_scores = cosine_similarity(user_embedding, job_embeddings)[0]
#     df['similarity_score'] = similarity_scores

#     # Filter by disability type if provided
#     if disability_type:
#         filtered = df[df['suitable_for_disability'].str.contains(disability_type, case=False, na=False)]
#         if not filtered.empty:
#             filtered = filtered.sort_values(by='similarity_score', ascending=False)
#             return filtered.head(top_n)
#         else:
#             print("‚ö†Ô∏è No disability-specific jobs found. Showing general top results.")

#     # Otherwise return top overall jobs
#     return df.sort_values(by='similarity_score', ascending=False).head(top_n)


# # Example test
# user_input = "Python, SQL, Excel, Data Analysis"
# user_disability = "hearing_impairment"

# recommendations = recommend_jobs(user_input, disability_type=user_disability, top_n=5)
# print(f"üîç Top job recommendations for: '{user_input}' (Disability: {user_disability})")
# recommendations[['job_title', 'company_name', 'similarity_score', 'suitable_for_disability']]

In [ ]:
# user_input = "Python, SQL, Excel, Data Analysis"
# user_disability = "hearing_impairment"

# recommendations = recommend_jobs(user_input, disability_type=user_disability, top_n=5)
# print(f"üîç Top job recommendations for: '{user_input}' (Disability: {user_disability})")
# recommendations[['job_title', 'company_name', 'similarity_score', 'suitable_for_disability']]

In [ ]:
# # ===============================
# # üé® STEP 3: Display Recommendations Neatly
# # ===============================

# # Run the recommendation function
# user_input = "Python, SQL, Excel, Data Analysis"
# user_disability = "hearing_impairment"

# recommendations = recommend_jobs(user_input, disability_type=user_disability, top_n=5)

# print(f"\nüîç Top job recommendations for: '{user_input}' (Disability: {user_disability})\n")
# print("‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ")

# # Loop through top recommendations and print nicely
# for i, row in recommendations.iterrows():
#     print(f"{i+1}. üß© Job Title: {row['job_title']}")
#     print(f"   üè¢ Company: {row['company_name']}")
#     print(f"   üíº Category: {row.get('category', 'N/A')}")
#     print(f"   ‚ôø Suitable for: {row.get('suitable_for_disability', 'Not specified')}")
#     print(f"   üîπ Similarity Score: {row['similarity_score']:.2f}")
#     print("---------------------------------------------------")

In [ ]:
# import pandas as pd

# # Load your main dataset and new live jobs
# df_main = pd.read_csv(r"C:/Users/suraj/Desktop/saarthiii/data/combined_dataset.csv")
# df_live = pd.read_csv(r"C:/Users/suraj/Desktop/saarthiii/data/live_jobs.csv")

# # Combine (ignore duplicates)
# df_all = pd.concat([df_main, df_live], ignore_index=True).drop_duplicates(subset=["job_title", "company_name"], keep="last")

# # Save back
# df_all.to_csv(r"C:/Users/suraj/Desktop/saarthiii/data/combined_dataset.csv", index=False)
# print("‚úÖ Combined live jobs with main dataset. Total rows:", len(df_all))

In [ ]:
# from sentence_transformers import SentenceTransformer
# import numpy as np

# df = pd.read_csv(r"C:/Users/suraj/Desktop/saarthiii/data/combined_dataset.csv")

# model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
# job_embeddings = model.encode(df['text'].tolist(), show_progress_bar=True, convert_to_tensor=False)
# np.save(r"C:/Users/suraj/Desktop/saarthiii/models/job_embeddings.npy", job_embeddings)
# print("‚úÖ Embeddings updated with live jobs!")